<% @user_title = "delete the user>" %>




<div class="subjects delete">
	<h2>Delete User</h2> 

	<%= form_for(:users, :url => {:action => 'destroy', :id => @user.id}) do |f| %> 

	<confirm deleteion of user record ? </p>

		<div class = "form-buttons">
			<%=submit_tag("delete user") %>
		</div> 

		<% end %>
	</div> 


